* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: #e2ded3;
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 20px;
}
.header__logo--style1 {
  font-size: 250%;
  font-weight: bolder;
}
.header__logo--style2 {
  font-size: 220%;
  font-weight: bolder;
  color: #ff6d24;
}
.header__drop-nav {
  padding-right: 30px;
}
.header__dropdown--btn {
  background-color: bisque;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.header__dropdown--content {
  display: none;
  position: absolute;
  background-color: aquamarine;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
}

.section-block {
  width: 100vw;
  height: 100vh;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-end;
  flex-wrap: nowrap;
  background-color: #e2ded3;
  padding-right: 60px;
  padding-top: 80px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-end;
  flex-wrap: nowrap;
  background-color: #857671;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #e2ded3;
}
.skills__head {
  font-size: 200%;
  font-weight: bolder;
  padding: 20px;
  color: #ff6d24;
}
.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}
.skills__card--text {
  font-weight: bold;
  padding-top: 5px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #857671;
}
