@use "./partials/palette";
@use "./partials/mixins";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
// Header
.header {
    @include mixins.flex(column, center, center, nowrap);
    padding-top: 10px;
    padding-bottom: 30px;
    background: palette.$color-three;
    height: 15vh;
    width: 100vw;

    &__logo {
        @include mixins.flex(row, center, center, nowrap);
        &--style1 {
            font-size: 250%;
            margin-top: 20px;
            font-weight: bolder;
        }
        &--style2 {
            font-size: 220%;
            margin-top: 10px;
            font-weight: bolder;
            color: palette.$color-one;
        }
    }

    &__dropdown {
        &--btn {
            background-color: bisque;
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        &--content {
            display: none;
            position: absolute;
            background-color: aquamarine;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
    }
}

.content {
    @include mixins.flex(column, center, center, nowrap);
    width: 100vw;
}

.section-block {
    width: 100vw;
    height: 100vh;
}
// Landing
.landing {
    @include mixins.flex(column, top, flex-end, nowrap);
    background-color: palette.$color-four;
    padding-right: 60px;
    padding-top: 80px;
}
// About Me
.about-me {
    @include mixins.flex(column, top, flex-end, nowrap);
    background-color: palette.$color-three;
}
// Skills
.skills {
    @include mixins.flex(column, center, center, nowrap);
    background-color: palette.$color-four;
}
// Projects
.projects {
    @include mixins.flex(column, center, center, nowrap);
    background-color: palette.$color-three;
}
