@use "./partials/palette";
@use "./partials/mixins";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
// Header
.header {
    @include mixins.flex(row-reverse, space-between, center, nowrap);
    background: palette.$color-four;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 2;

    &__logo {
        @include mixins.flex(row, center, center, nowrap);
        padding-left: 20px;
        &--style1 {
            font-size: 250%;

            font-weight: bolder;
        }
        &--style2 {
            font-size: 220%;

            font-weight: bolder;
            color: palette.$color-one;
        }
    }

    &__drop-nav {
        padding-right: 30px;
    }
    &__dropdown {
        &--btn {
            background-color: bisque;
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
        &--content {
            display: none;
            position: absolute;
            background-color: aquamarine;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
    }
}

.content {
    @include mixins.flex(column, center, center, nowrap);
    width: 100vw;
}

.section-block {
    width: 100vw;
    height: 100vh;
}
// Landing
.landing {
    @include mixins.flex(column, top, flex-end, nowrap);
    background-color: palette.$color-four;
    padding-right: 60px;
    padding-top: 80px;
}
// About Me
.about-me {
    @include mixins.flex(column, top, flex-end, nowrap);
    background-color: palette.$color-three;
}
// Skills
.skills {
    &__head {
        font-size: 200%;
        font-weight: bolder;
        padding: 20px;
        color: palette.$color-one;
    }
    @include mixins.flex(column, center, center, nowrap);
    background-color: palette.$color-four;
    &__card {
        @include mixins.flex(column, center, center, nowrap);
        padding: 10px;
        &--item-icon {
        }
        &--text {
            font-weight: bold;
            padding-top: 5px;
        }
    }
}
// Projects
.projects {
    @include mixins.flex(column, center, center, nowrap);
    background-color: palette.$color-three;
}
