* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: #e2ded3;
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 0;
    height: 20vh;
  }
}
.header__drop-nav {
  position: relative;
  display: inline-block;
}
.header__drop-nav--dropbtn {
  padding-right: 50px;
}
.header__drop-nav--dropbtn :hover,
.header__drop-nav--dropbtn :focus {
  color: white;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .header__drop-nav--dropbtn {
    font-size: 200%;
  }
}
.header__drop-nav--content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 120px;
  z-index: 1;
  right: 0;
  padding: 10px;
}
.header__drop-nav--text {
  color: black;
  font-weight: bolder;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .header__drop-nav--text {
    font-size: 20px;
  }
}
.header .show {
  display: block;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 20px;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    padding-left: 50px;
  }
}
.header__logo--style1 {
  font-size: 250%;
  font-weight: bolder;
}
@media only screen and (min-width: 768px) {
  .header__logo--style1 {
    font-size: 450%;
  }
}
.header__logo--style2 {
  font-size: 220%;
  font-weight: bolder;
}
.header__logo--style2 :link,
.header__logo--style2 :visited,
.header__logo--style2 :hover,
.header__logo--style2 :active {
  color: #ff6d24;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .header__logo--style2 {
    font-size: 420%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
}

.section-block {
  width: 100vw;
  height: 100vh;
  transform: translate3d(0, 0, 0);
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-end;
  flex-wrap: nowrap;
  background-color: #e2ded3;
  padding-right: 60px;
  padding-top: 200px;
  position: sticky;
  top: 0;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .landing {
    padding-top: 300px;
    padding-right: 500px;
  }
}
.landing__head--one {
  color: #ff6d24;
  font-weight: bolder;
  font-size: 200%;
}
@media only screen and (min-width: 768px) {
  .landing__head--one {
    font-size: 500%;
  }
}
.landing__head--two {
  color: black;
  font-weight: bold;
  font-size: 220%;
}
@media only screen and (min-width: 768px) {
  .landing__head--two {
    font-size: 540%;
  }
}
.landing__head--three {
  color: black;
  font-size: 130%;
}
.landing__head--three-style {
  color: #ff6d24;
}
@media only screen and (min-width: 768px) {
  .landing__head--three {
    font-size: 400%;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-end;
  flex-wrap: nowrap;
  background-color: #857671;
  padding-top: 200px;
  padding-right: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
  }
}
.about-me__head {
  font-size: 200%;
  font-weight: bolder;
  padding-bottom: 20px;
  color: #ff6d24;
}
@media only screen and (min-width: 768px) {
  .about-me__head {
    font-size: 500%;
    padding: 15px;
  }
}
.about-me__card {
  height: 100px;
  width: 240px;
  text-align: right;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .about-me__card {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    width: 400px;
  }
}
.about-me__card--text {
  padding-bottom: 15px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #e2ded3;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 2;
}
.skills__head {
  font-size: 200%;
  font-weight: bolder;
  padding: 20px;
  color: #ff6d24;
}
@media only screen and (min-width: 768px) {
  .skills__head {
    font-size: 500%;
    padding: 40px;
  }
}
.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .skills__card {
    padding: 50px;
  }
}
.skills__card--text {
  font-weight: bold;
  padding-top: 5px;
}

@media only screen and (min-width: 768px) {
  .sklz {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    font-size: 200%;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #857671;
  z-index: 3;
  width: 100vw;
}
.projects__head {
  font-size: 200%;
  font-weight: bolder;
  padding: 20px;
  color: #ff6d24;
}
@media only screen and (min-width: 768px) {
  .projects__head {
    font-size: 500%;
  }
}
.projects__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .projects__group {
    padding: 50px;
    align-items: center;
    justify-content: center;
  }
}
.projects__group--image {
  padding-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .projects__group--image {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .projects__group--desc {
    overflow-wrap: break-word;
    width: 200px;
    text-align: center;
    font-size: 200%;
  }
}
@media only screen and (min-width: 768px) {
  .projects__group--icon {
    font-size: 200%;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .prjz {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

#code {
  padding: 10px;
}

#rocket {
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  align-content: center;
  padding-left: 15px;
  padding-bottom: 15px;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  .footer {
    font-size: 300%;
    padding-left: 50px;
  }
}
.footer__contact--icon {
  padding: 10px;
}
.footer__contact--icon :link {
  color: black;
}
.footer__contact--icon :hover {
  color: #ff6d24;
}
.footer__contact--icon :visited {
  color: black;
}
.footer__contact--icon :active {
  color: #ff6d24;
}
